.title {
  width: 100%;
  height: 300px;
  background: url(../img/original.jpg) no-repeat 40%;
  text-align: right;
  position: relative;
}
.title .box {
  width: 1015px;
  margin: 0 auto;
  padding-top: 30px;
  color: aliceblue;
  position: absolute;
  right: 5px;
  transform: translateX(-300px);
  transition: all 1s;
}
.title .box p:nth-of-type(1) {
  font-size: 30px;
}
.title .box p:nth-of-type(2) {
  font-size: 18px;
}
.title .box p:nth-of-type(3) {
  font-size: 27px;
  height: 48px;
  margin-left: 774px;
  margin-right: 14px;
  background-color: red;
  text-align: center;
  line-height: 48px;
  margin-top: 10px;
}
.title .box div {
  line-height: 70px;
}
.title .box div span {
  display: inline-block;
}
.title .box div span:nth-of-type(1) {
  text-align: center;
  font-size: 14px;
  width: 70px;
  height: 30px;
  background: rgba(224, 221, 221, 0.5);
  line-height: 32px;
  margin-right: 15px;
}
.title .box div span:nth-of-type(2) {
  text-align: center;
  font-size: 14px;
  width: 44px;
  height: 30px;
  background: rgba(224, 221, 221, 0.5);
  line-height: 32px;
  margin-right: 25px;
}
.title .box div span:nth-of-type(3) {
  text-align: center;
  font-size: 14px;
  width: 40px;
  height: 30px;
  background: rgba(224, 221, 221, 0.5);
  line-height: 32px;
  margin-right: 14px;
}
article {
  width: 100%;
  background-color: #F0F0F0;
}
article .box1 {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  line-height: 30px;
}
article .box1 p:nth-of-type(1) {
  border-left: 8px solid red;
  margin-left: 272px;
  width: 30px;
  padding-left: 10px;
}
article .box2 {
  font-size: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 120px;
}
article .box2 p:nth-of-type(1) {
  border-bottom: 4px solid red;
}
article .box3 {
  font-size: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 120px;
}
.box4 {
  width: 980px;
  margin: 0 auto;
  margin-top: 40px;
}
.box4 .box-left {
  width: 650px;
  float: left;
  margin-bottom: 15px;
}
.box4 .box-left p:nth-of-type(1) {
  border-left: 4px solid red;
  font-size: 20px;
  padding-left: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(1) {
  font-size: 17px;
  padding-left: 10px;
  color: red;
  font-weight: bold;
  border-left: none;
}
.box4 .box-left .box4-1 p:nth-of-type(2) {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(3) {
  color: #027CD1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(4) {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(5) {
  color: #027CD1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(6) {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(7) {
  color: #027CD1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(8) {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(9) {
  color: #027CD1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(10) {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(11) {
  color: #027CD1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(12) {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(13) {
  font-size: 17px;
  padding-left: 10px;
  color: red;
  font-weight: bold;
  border-left: 4px solid red;
}
.box4 .box-left .box4-1 p:nth-of-type(14) {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(15) {
  color: #027CD1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(16) {
  font-size: 17px;
  padding-left: 10px;
  color: red;
  font-weight: bold;
  border-left: 4px solid red;
}
.box4 .box-left .box4-1 p:nth-of-type(17) {
  padding-left: 10px;
  padding-top: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(18) {
  padding-left: 10px;
  padding-top: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(19) {
  padding-left: 10px;
  padding-top: 10px;
}
.box4 .box-left .box4-1 p:nth-of-type(20) {
  padding-left: 10px;
  padding-top: 10px;
}
.box-right {
  width: 300px;
  float: right;
}
.box-right p:nth-of-type(1) {
  padding-left: 10px;
  font-weight: bold;
  border-left: 4px solid red;
  font-size: 17px;
}
.box-right p:nth-of-type(2) {
  color: red;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}
.box-right p:nth-of-type(3) {
  width: 264px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
  background-color: red;
  color: beige;
}
.box-right p:nth-of-type(4) {
  width: 264px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.box-right p:nth-of-type(5) {
  padding-left: 10px;
  font-weight: bold;
  border-left: 4px solid red;
  font-size: 17px;
  margin-bottom: 15px;
}
.box-right img {
  margin-bottom: 10px;
}
.box-right p:nth-of-type(6) {
  margin-bottom: 15px;
}
.box-right p:nth-of-type(7) {
  font-size: 17px;
  margin-bottom: 10px;
}
.box-right p:nth-of-type(9) {
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.box-right p:nth-of-type(13) {
  padding-left: 10px;
  font-weight: bold;
  border-left: 4px solid red;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: 10px;
}
