form {
  width: 1000px;
  margin: 0 auto;
  padding-top: 122px;
  padding-bottom: 147px;
}
form .inputs {
  display: block;
  margin: 0 auto;
  width: 385px;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #efefef;
  color: #a7a7a7;
  margin-bottom: 27px;
  padding-left: 15px;
}
form #but {
  background-color: #fe5341;
  color: #ffffff;
  padding-left: 0;
  width: 400px;
  display: block;
  margin: 0 auto;
  height: 50px;
  border-radius: 5px;
}
form .in {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
form .in .inp {
  width: 243px;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #efefef;
  color: #a7a7a7;
  margin-bottom: 27px;
  padding-left: 15px;
}
form .in #ver {
  float: right;
}
