.tybg {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}
.tybg2 {
  margin: 0 auto;
  margin-left: 43%;
}
.tyyy {
  font-size: 30px;
  padding-top: 30px;
}
.tybg2:after {
  content: "";
  display: block;
  clear: both;
}
.tybg2 span {
  border-bottom: 2px solid red;
  width: 100px ;
  float: left;
  text-align: center;
  margin-left: 20px;
}
.box2 {
  background: whitesmoke;
}
.box22 {
  margin: 0 auto;
  width: 1000px;
}
.box22:after {
  content: "";
  display: block;
  clear: both;
}
.box221 {
  width: 700px;
  float: left;
}
.box222 {
  width: 270px;
  float: right;
}
.bo0 {
  margin-top: 10px;
}
.box221-1 {
  width: 700px;
  height: 297px;
  background: url(../img/bg8.jpg) no-repeat;
  background-size: cover;
}
.box221-1 div {
  padding-top: 166px;
  padding-left: 46px;
  height: 0px;
}
.box221-1 div p {
  margin-top: 50px;
  font-size: 20px;
}
.box221-3 {
  width: 700px;
  height: 297px;
  background: url(../img/bg7.jpg) no-repeat;
  background-size: cover;
}
.box221-3 div {
  padding-top: 166px;
  padding-left: 46px;
  height: 0px;
}
.box221-3 div p {
  margin-top: 50px;
  font-size: 20px;
}
.box221-4 {
  width: 700px;
  height: 297px;
  background: url(../img/re3.jpg) no-repeat;
  background-size: cover;
}
.box221-4 div {
  padding-top: 166px;
  padding-left: 46px;
  height: 0px;
}
.box221-4 div p {
  margin-top: 50px;
  font-size: 20px;
}
